.custom-navbar {
  background-color: #000;
}

.nav-link {
  color: white !important;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  height: 2.5px;
  width: 0;
  background: #FFD700;
  transition: width 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

span.release-version {
  color: #d1d1d1;
  font-size: 1.0rem;
  margin-left: 10px;
}