/* Adjustments for Section with ID and Class */
#projects.section-left {
  padding-right: 0% !important; /* Ensures no padding on the right */
}

/* General Section Styles */
.projects-section {
  margin-top: 40px; /* Adds spacing to the top of the section */
}

/* Flexbox for the Project Boxes */
.project-boxes {
  display: flex;
  gap: 30px; /* Adds spacing between project boxes */
  flex-wrap: wrap; /* Allows project boxes to wrap to the next row */
  justify-content: left; /* Left project boxes horizontally */
  margin-top: 20px; /* Adds margin above the project boxes */
}

/* Individual Project Box */
.project-box {
  background: transparent;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3); /* Yellow shadow for effect */
  backdrop-filter: blur(2px); /* Adds blur effect to the background */
}

/* Styling the Title of Each Project Box */
.project-box h3 {
  text-align: center; /* Centers the header text */
  margin-bottom: 15px; /* Adds space below the header */
}

/* Button styling for the project buttons */
.custom-btn-white-bg.project-btn {
  display: block;
  width: 100%; /* Makes the button take up full width */
  margin: 25px 0; /* Adds margin around the button */
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  padding: 10px 20px;
  border: 2px solid #ffffff; /* White border around button */
  transition: background-color 0.3s; /* Smooth transition for background change */
  backdrop-filter: blur(2px); /* Adds blur effect to button */
}

/* Button hover effect */
.custom-btn-white-bg.project-btn:hover {
  background-color: #FFD700; /* Changes background color to yellow on hover */
  border: 2px solid #FFD700; /* Changes border to yellow on hover */
}

/* Styling for Project Header in the Project Box */
h3.project-header {
  padding-bottom: 10px;
}

/* Additional Project Button Style */
.btn-project-custom {
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  display: block;
  width: 15rem;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  backdrop-filter: blur(2px);
}

/* Project logo image */
.project-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
