/* Contact icon in contact section*/
.icon-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  .icon-links a {
    color: #333;
    transition: color 0.3s;
  }
  
  .icon-links a:hover {
    color: #FFD700;
  }


  /* Hero section */
  .hero-section {
    padding: 124px;
  }
 